<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <div class="kai-container" style="margin:2px;">
    <h5 style="margin:6px 2px 2px 6px;">PLAYER</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">Arrow Up: increase volume</li>
      <li style="margin-right:0px;margin-bottom:3px;">Arrow Down: decrease volume</li>
      <li style="margin-right:0px;margin-bottom:3px;">Center/Enter: play/Pause</li>
      <li style="margin-right:0px;margin-bottom:3px;">Button 2: increase playback rate by +0.25</li>
      <li style="margin-right:0px;margin-bottom:3px;">Button 5: reset playback rate to 1</li>
      <li style="margin-right:0px;margin-bottom:3px;">Button 8: decrease playback rate by -0.25</li>
    </ul>
    <h5 style="margin:6px 2px 2px 6px;">MAIN PLAYER</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">Arrow Left: play previous track</li>
      <li style="margin-right:0px;margin-bottom:3px;">Arrow Right: play next track</li>
      <li style="margin-right:0px;margin-bottom:3px;">Button 1: rewind -10s</li>
      <li style="margin-right:0px;margin-bottom:3px;">Button 3: skip forward +10s</li>
      <li style="margin-right:0px;margin-bottom:3px;">Button *: toggle repeat</li>
      <li style="margin-right:0px;margin-bottom:3px;">Button #: toggle shuffle</li>
    </ul>
    <h5 style="margin:6px 2px 2px 6px;">MINI PLAYER</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">Arrow Left: rewind -10s</li>
      <li style="margin-right:0px;margin-bottom:3px;">Arrow Right: skip forward +10s</li>
    </ul>
  </div>
</div>
