<div class="kui-option-menu">
  <style>
    .duration-container {
      position:relative;
      height:22px;
      width:95%;
    }
    .duration-bar {
      position:absolute;
      top:10px;
      width:0%;
      height:4px;
      border-radius:5px;
    }
    .duration-marker {
      position:absolute;
      top:7px;
      margin-left:0%;
      background-color:#ffffff;
      width:10px;
      height:10px;
      border-radius:50%;
    }
  </style>
  <div class="kui-option-title" style="overflow:hidden;">Mini Player</div>
  <div class="kui-option-body kai-padding-5">

    <div class="duration-container" style="margin-top:5px;">
      <div                             class="duration-bar" style="background-color:#c0c0c0;width:105%"></div>
      <div id="duration_elapsed"  class="duration-bar" style="background-color:rgba(255, 0, 0, 1);"></div>
      <div id="duration_buffered" class="duration-bar" style="background-color:rgba(255, 0, 0, 0.5);"></div>
      <div id="duration_slider" class="duration-marker" style="background-color:#000000;"></div>
    </div>

    <div class="kui-row-center">
      <div id="current_time" style="width:34%;">00:00</div>
      <img id="play_btn" width="36px" height="36px" src="/icons/img/play.png"/>
      <div id="duration" style="width:34%;text-align:right;">00:00</div>
    </div>

  </div>
</div>
