<div class="kui-option-menu">
  <style>
    input[type="range"]::-moz-range-progress {
      background-color: #c0c0c0;
    }
    input[type="range"]::-moz-range-track {
      background-color: #c0c0c0;
    }
  </style>
  <div class="kui-option-title" style="overflow:hidden;">Mini Player</div>
  <div class="kui-option-body kai-padding-5">
    <div>
      <input id="duration_slider" style="width:99%;background-color:#ffffff00;border-color:#c0c0c0;" value="0" type="range" min="0" max="100" disabled/>
    </div>
    <div class="kui-row-center">
      <div id="current_time" style="width:34%;">00:00</div>
      <img id="play_btn" width="36px" height="36px" src="/icons/img/play.png"/>
      <div id="duration" style="width:34%;text-align:right;">00:00</div>
    </div>
  </div>
</div>
