<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <ul class="kui-list kai-container">
    <li>
      <input id="title" placeholder="Title" value="{{ title }}" class="saveVideoNav kui-input" type="text" />
    </li>
    <li style="border-top:1px dashed #320374;">
      <input id="artist" placeholder="Artist" value="{{ artist }}" class="saveVideoNav kui-input" type="text" />
    </li>
    <li style="border-top:1px dashed #320374;">
      <input id="album" placeholder="Album" value="{{ album }}" class="saveVideoNav kui-input" type="text" />
    </li>
    <li style="border-top:1px dashed #320374;">
      <input id="genre" placeholder="Genre" value="{{ genre }}" class="saveVideoNav kui-input" type="text" />
    </li>
    <li style="border-top:1px dashed #320374;">
      <input id="year" placeholder="Year" value="{{ year }}" class="saveVideoNav kui-input" type="tel" />
    </li>
    <li style="border-top:1px dashed #320374;">
      <input id="track" placeholder="Track" value="{{ track }}" class="saveVideoNav kui-input" type="tel" />
    </li>
    <li class="saveVideoNav" style="border-top:1px dashed #320374;" @click="submit()">
      <div class="kui-row-center" style="justify-content:space-around;">
        <h4>SAVE</h4>
      </div>
    </li>
  </ul>
</div>
